<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <title>Weather app</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Zobrazení meteorologických dat</h1>

  <form id="forecastOnlyCityForm" action="/search/city" method="get">
    <div>
      <label for="forecastField">Zobraz data pro město</label>
      <input id="forecastField" type="text" name="name" required placeholder="název (např. Liberec)">
      <input type="text" name="code" required placeholder="oblast (např. ČR)">
      <button>Hledej</button>
    </div>
  </form>
  <form id="forecastStateForm" action="/search/state" method="get">
    <div>
      <label for="forecastStateField">Zobraz data pro stát</label>
      <input id="forecastStateField" type="text" name="code" required placeholder="kód (např. CZ)">
      <button>Hledej</button>
    </div>
  </form>

  <h2>Přidávání a odebírání lokací</h2>

  <form id="createNewStateForm" action="/createState" method="post">
    <div>
      <label for="newStateField">Přidej nový stát</label>
      <input id="newStateField" type="text" name="name" required placeholder="název (např. Česká republika)">
      <input type="text" name="code" required placeholder="zkratka (např. ČR)">
      <button>Přidej</button>
    </div>
  </form>

  <form id="deleteStateForm" action="/deleteState" method="post">
    <div>
      <label for="deleteStateField">Odeber stát</label>
      <input id="deleteStateField" type="text" name="code" required placeholder="Zadej zkratku">
      <button>Odeber stát</button>
    </div>
  </form>
  <p></p>
  <form id="newCityForm" action="/createCity" method="post">
    <div>
      <label for="newCityField">Přidej nové město</label>
      <input id="newCityField" type="text" name="name" required placeholder="název (např. Liberec)">
      <input type="text" name="region" required placeholder="oblast (např. ČR)">
      <button>Přidej</button>
    </div>
  </form>
  <form id="deleteCityForm" action="/deleteCity" method="post">
    <div>
      <label for="deleteCItyField">Odeber město</label>
      <input id="deleteCityField" type="text" name="name" required placeholder="Zadej název">
      <button>Odeber město</button>
    </div>
  </form>

  <h2>Seznam uložených států</h2>
  <table>
    <thead>
      <tr>
        <th>Název</th>
        <th>Zkratka</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="state: ${states}">
        <td th:text="${state.name}"/>
        <td th:text="${state.code}"/>
      </tr>
    </tbody>
  </table>

  <h2>Seznam uložených měst</h2>
  <table>
    <thead>
    <tr>
      <th>Název</th>
      <th>region</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="city: ${cities}">
        <td th:text="${city.name}"/>
        <td th:text="${city.region}"/>
      </tr>
    </tbody>
  </table>


  <!--
  <form action="/search-location" method="GET" id="locationForm">
    <div>
      <label for="locationField">Search by location</label>
      <input name="location" id="locationField">
      <button>Search</button>
    </div>
  </form>
  <form action="/current-weather" method="GET" id="locationForm2">
    <div>
      <label for="locationField2">Search by location</label>
      <input name="location" id="locationField2">
      <button>Search</button>
    </div>
  </form>
  -->

</body>
</html>