<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Weather app</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>
<a id="zpetCW" href="/">Zpět</a>
<!--
<div>
    <p th:text="'Datum: ' + ${currentWeather.getDate()}"></p>
    <p th:text="'Teplota: ' + ${currentWeather.getTemp()} + ' °C'"></p>
    <p th:text="'Tlak: ' + ${currentWeather.getPressure()} + ' hPa'"></p>
    <p th:text="'Vlhkost: ' + ${currentWeather.getHumidity()} + ' %'"></p>
    <p th:text="'Oblačnost: ' + ${currentWeather.getClouds()} + ' %'"></p>
    <p th:text="'Dohlednost: ' + ${currentWeather.getVisibility()} + ' m'"></p>
    <p th:text="'Rychlost větru: ' + ${currentWeather.getWindSpeed()} + ' m/s'"></p>
    <p th:text="'Směr větru: ' + ${currentWeather.getWindDegree()} + ' °'"></p>
</div>
-->

<script type="text/javascript" src="scripts/currentWeatherScript.js"></script>
</body>
</html>